body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color:#4d284d;
}


.loader{
    height: 9em;
    width: 9em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    position: absolute;
    height: 80%;
    width: 80%;
    border-radius: 50%; 
    border-style: solid;
}

.white{
    border-width: 3px 3px 0 0;
    border-color: #fff #fff transparent transparent;
    animation: 1s rotate-white linear infinite;
}

.red{
    border-width: 0 0 3px 3px;
    border-color:  transparent red red;
    animation:  1s rotate-red linear infinite;
}


.orange{
    border-width: 0 3px 3px 0;
    border-color: transparent orange orange;
    animation: 1s rotate-yellow linear infinite;
}

.yellow{
    border-width: 0 0 3px 3px;
    border-color:  transparent rgb(229, 255, 0) rgb(255, 251, 0);
    animation:  1s rotate-red linear infinite;
}


@keyframes rotate-white{
    from{
        transform: rotateX(45deg) rotateY(-35deg) rotateZ(360deg);
    }
    to{
        transform: rotateX(45deg) rotateY(-35deg) rotateZ(-60deg);
    }
}

@keyframes rotate-red{

    from{
        transform: rotateX(45deg) rotateY(35deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(70deg) rotateY(20deg) rotateZ(360deg);
    }
}


@keyframes rotate-orange{
    from{
        transform: rotateY(70deg) rotateZ(0deg);
    }
    to{
        transform: rotateY(70deg) rotateY(20deg) rotateZ(360deg);
    }
}


@keyframes rotate-yellow{
    from{
        transform: rotateX(70deg) rotateZ(0deg);
    }
    to{
        transform: rotateX(70deg) rotateZ(360deg);
    }
}